<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-spinner *ngIf='isLoading' class='center'></mat-spinner>
<mat-card *ngIf='!isLoading'>
  <mat-card-header>
    <img mat-card-avatar src='{{user?.avatar_url}}'>
    <mat-card-title>{{user?.name + '___' + user?.blog}}</mat-card-title>
    <mat-card-subtitle>{{user?.company}} ({{user?.location}})</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='{{user?.avatar_url}}' alt="{{'Photo of a ' + user?.name }}">
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf='isEven' mat-button (click)='onClick()'>Click Me!</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf='isEven'>
  <mat-card-content>
    Its Even !
  </mat-card-content>
</mat-card>

<mat-card *ngIf='isOdd'>
  <mat-card-content>
    Its Odd !
  </mat-card-content>
</mat-card>