<mat-spinner *ngIf='isLoading' class='center'></mat-spinner>
<div *ngIf='!isLoading' class='grid-container'>
  <mat-card *ngFor='let user of users'>
    <mat-card-header>
      <img mat-card-avatar src='{{user.avatar_url}}'>
      <mat-card-title>{{user?.login}}</mat-card-title>
      <mat-card-subtitle>{{user?.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='{{user.avatar_url}}' alt="{{'Photo of a ' + user.login }}">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='onSeeDetails(user)'>See Details</button>
    </mat-card-actions>
  </mat-card>
</div>